@layer reset, base, components, utilities;

@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  *:not(dialog) {
    margin: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 6. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /*
  10. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer base {
  :root {
    /* Higher the darker */

    --clr-primary-50: 207 79% 56%;
    --clr-primary-100: 207 79% 46%; /* Primary action (buttons, highlights) */

    --clr-neutral-100: 0 0% 100%; /* interaction / emphasis ONLY */
    --clr-neutral-500: 210 25% 94%; /* Gray */
    --clr-neutral-700: 215 18% 32%; /* mid-dark neutral (between 900 and 500) */
    --clr-neutral-900: 215 25% 10%; /* near-black (default dark) */
    --clr-neutral-950: 0 0% 0%; /* PURE BLACK – special cases only */

    /* Accent (card stripe, avatar ring) */
    --clr-secondary-50: 43 86% 55%; /* rgb(240,180,41) */

    /* Text */
    --clr-text-900: 215 28% 17%;
    --clr-text-600: 215 15% 38%;
    --clr-text-400: 215 10% 55%;

    /* Font size scale (rem-based, 1rem = 16px) */

    --fs-100: 0.75rem; /* 12px – captions, meta */
    --fs-200: 0.875rem; /* 14px – secondary text */
    --fs-300: 1rem; /* 16px – body (default) */
    --fs-400: 1.125rem; /* 18px – emphasized body */
    --fs-500: 1.25rem; /* 20px – small headings */
    --fs-600: 1.5rem; /* 24px – section headings */
    --fs-700: 1.875rem; /* 30px – page headings */
    --fs-800: 2.25rem; /* 36px – hero / dashboard title */

    --fw-400: 400; /* regular */
    --fw-500: 500; /* medium */
    --fw-600: 600; /* semibold */

    --space-0: 0; /* 0px */
    --space-1: 0.25rem; /* 4px  */
    --space-2: 0.5rem; /* 8px  */
    --space-3: 0.75rem; /* 12px */
    --space-4: 1rem; /* 16px */
    --space-5: 1.25rem; /* 20px */
    --space-6: 1.5rem; /* 24px */
    --space-7: 2rem; /* 32px */
    --space-8: 2.5rem; /* 40px */
    --space-9: 3rem; /* 48px */
    --space-10: 4rem; /* 64px */
  }

  .ms {
    font-family: "Material Symbols Outlined";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: default;
    user-select: none; /* no text selection */
    pointer-events: none; /* clicks go to parent */

    font-variation-settings:
      "FILL" 1,
      "wght" 400,
      "GRAD" 0,
      "opsz" 20;
  }

  .ms-filled-bold-m {
    font-size: 20px;
    font-variation-settings:
      "FILL" 1,
      "wght" 600,
      "GRAD" 0,
      "opsz" 20;
  }

  .ms-filled-bold-l {
    font-size: 24px;
    font-variation-settings:
      "FILL" 1,
      "wght" 600,
      "GRAD" 0,
      "opsz" 24;
  }

  .ms-filled-bold-xl {
    font-size: 40px;
    font-variation-settings:
      "FILL" 1,
      "wght" 600,
      "GRAD" 0,
      "opsz" 40;
  }

  .ms-lined-m {
    font-size: 20px;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 20;
  }

  .ms-lined-l {
    font-size: 24px;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  .ms-lined-xl {
    font-size: 40px;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 40;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: var(--fw-400);
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: var(--fw-600);
    font-style: normal;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: auto 1fr;
    font-family: "Poppins", sans-serif;
    font-weight: var(--fw-400);
    font-style: normal;
    background-color: hsl(var(--clr-neutral-500));
  }
}

@layer components {
  aside {
    background-color: hsl(var(--clr-primary-100));
    padding: var(--space-4);
    grid-row: 1 / 3;
    align-self: stretch;
    color: hsl(var(--clr-neutral-100));
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    margin-bottom: var(--space-9);
    height: 3rem;
  }

  .logo {
    width: var(--space-7);
    height: auto;
  }

  .menu-group ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  .menu-group ul,
  .card ul {
    padding: 0;
  }
  .menu-group li,
  .card li {
    list-style: none;
  }

  .menu-group a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    gap: var(--space-3);
    height: var(--space-7);
  }

  .menu-group a > span {
    width: var(--space-7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-group a:visited {
    color: hsl(var(--clr-neutral-100));
  }

  .menu-group a:hover {
    background-color: hsl(var(--clr-primary-50));
    border-radius: var(--space-1);
    color: hsl(var(--clr-neutral-100));
  }

  .menu-group + .menu-group {
    margin-top: var(--space-8);
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    align-content: start;
    gap: var(--space-9);
    padding: var(--space-4) var(--space-8) var(--space-4) var(--space-8);
    color: hsl(var(--clr-neutral-900));
    background-color: hsl(var(--clr-neutral-100));
    min-width: 62rem;
    box-shadow: 0 4.8px 14.4px rgba(0, 0, 0, 0.18);
    margin-bottom: var(--space-8);
  }

  .search-container {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .search-container > input[type="search"] {
    border: none;
    background-color: hsl(var(--clr-neutral-500));
    border-radius: var(--space-10);
    height: var(--space-7);
    padding-left: var(--space-3);
    width: 90%;
  }

  .avatar {
    width: 3rem;
    height: auto;
    border-radius: var(--space-10);
  }

  .avatar-l {
    width: 5rem;
  }

  .identity-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-6);
  }

  .greeting-container {
    display: flex;
    align-items: center;
    gap: var(--space-5);
  }

  .filter-container {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: end;
    display: flex;
    gap: var(--space-5);
    text-wrap: none;
  }

  .filter-container button {
    border: none;
    color: hsl(var(--clr-neutral-100));
    background-color: hsl(var(--clr-primary-100));
    height: 2.5rem;
    width: 8rem;
    border-radius: var(--space-10);
    cursor: pointer;
  }

  .filter-container button:hover {
    background-color: hsl(var(--clr-primary-50));
  }

  main {
    padding-left: var(--space-8);
    padding-right: var(--space-8);
    padding-bottom: var(--space-7);
  }

  .blocks {
    display: grid;
    grid-template-columns: 1fr auto;

    grid-template-rows: 1fr 1fr;
    height: auto;
    gap: var(--space-8);
  }

  .main-block {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    flex: 1;
  }

  .blocks > div:first-child {
    grid-row: 1 / 3;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    gap: var(--space-8);
    flex-grow: 1;
  }
  .card {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: var(--space-7) var(--space-7) var(--space-7) var(--space-8);
    background-color: hsl(var(--clr-neutral-100));
    border-radius: var(--space-4);
    overflow: hidden;
    box-shadow: 0 4.8px 14.4px rgba(0, 0, 0, 0.18);
  }

  .card::before {
    position: absolute;
    background-color: hsl(var(--clr-secondary-50));
    top: 0;
    bottom: 0;
    width: 0.75rem;
    content: "";
  }

  .card > p:first-child {
    margin-bottom: var(--space-1);
  }

  .card p + P {
    margin-bottom: var(--space-4);
    color: hsl(var(--clr-neutral-700));
  }
  .card ul {
    display: flex;
    justify-content: end;
    gap: var(--space-3);
  }

  .announcement-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--clr-neutral-100));
    width: 20rem;
    border-radius: var(--space-4);
    padding-inline: var(--space-7);
    padding-block: var(--space-3);
    flex-grow: 1;
    box-shadow: 0 4.8px 14.4px rgba(0, 0, 0, 0.18);
  }

  .announcement-container h3 {
    margin-bottom: var(--space-1);
  }

  .announcement-container section {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    position: relative;
    padding-block: var(--space-5);
  }

  .announcement-container section + section {
    border-top: 1px solid hsl(var(--clr-neutral-700));
  }

  .trending-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(var(--clr-neutral-100));
    justify-items: center;
    width: 20rem;
    border-radius: var(--space-4);
    padding: var(--space-7);
    flex-grow: 1;
    gap: var(--space-7);
    box-shadow: 0 4.8px 14.4px rgba(0, 0, 0, 0.18);
  }

  .trending-container > .greeting-container > p > br + span {
    color: hsl(var(--clr-neutral-700));
  }

  /* responsive */

  @media (width <= 1450px) {
    .blocks {
      display: flex;
      flex-wrap: wrap;
    }

    .main-block {
      flex: none;
    }

    .project-block {
      flex-basis: 100%;
    }
  }
}
@layer utilities {
  .fs-100 {
    font-size: var(--fs-100);
  }
  .fs-200 {
    font-size: var(--fs-200);
  }
  .fs-300 {
    font-size: var(--fs-300);
  }
  .fs-400 {
    font-size: var(--fs-400);
  }
  .fs-500 {
    font-size: var(--fs-500);
  }
  .fs-600 {
    font-size: var(--fs-600);
  }
  .fs-700 {
    font-size: var(--fs-700);
  }
  .fs-800 {
    font-size: var(--fs-800);
  }

  .fw-400 {
    font-weight: var(--fw-400);
  }

  .fw-500 {
    font-weight: var(--fw-500);
  }

  .fw-600 {
    font-weight: var(--fw-600);
  }
}
